MYSQL_ROOT_PASSWORD=choisis_un_mot_de_passe_long_et_different_du_dev
DB_NAME=nature_horse
JWT_SECRET=une_chaine_aleatoire_de_32_caracteres_minimum
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
APP_FRONTEND_URL=http://98.92.226.1